html
	head
		title Quizlet Creator!

	body(onload="change()")

		h1 Quizlet Creator!

		p Creator:
			input#creator(type="textbox")
		p Quiz Tags:
			input#tags(type="textbox")

		p Questions already added
			div#addedalready

		p Add Questions:
			p Choose Category
				select(id="cat" onchange="change()")
					each val in categories
						option= val

			p Choose Difficulty
				select(id="diff" onchange="change()")
					each val in difficulties
						option= val

		p#questions



		button(id="save", type="button", onclick="saveQuiz()") Save Quiz

		script(src="../client.js")
